<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <input type="file" multiple id="uplouad" name="file">
    <img src="https://www.azjfeng.com/0cdba396-4569-47aa-ae61-ed788dbf6f84.jpg" alt="" style="width: 100px; height: auto;">
    <img src="https://www.azjfeng.com/10e57446-3184-46f3-8a4d-7df365fc2ee3.jpg" alt="" style="width: 100px; height: auto;">
    <img src="https://www.azjfeng.com/e2f9d02d-5135-4edb-a607-0dceaf78851c.jpg" alt="" style="width: 100px; height: auto;">
    <img src="https://www.azjfeng.com/f88058ae-16e4-4c70-977a-bf7355633f09.jpg" alt="" style="width: 100px; height: auto;">

    <script>
    function Request(type, url, data){
      var xhr = new XMLHttpRequest()
      // xhr.open('post', 'http://localhost:8080/post', false)
      xhr.open(type, url, true)
      xhr.onreadystatechange = function(){
        if (xhr.readyState==4 && xhr.status==200){
          console.log(xhr.response)
        }
      }
      xhr.send(data)
    }

    // (function(){
      var input = document.getElementById('uplouad')
      var formData = new FormData();
      input.addEventListener('change', (e)=>{
        e.preventDefault()
        e.stopPropagation()
        var len  = e.target.files.length
        console.log(len)
        for (var i = 0; i < len; i++) {
          var file = e.target.files[i];
          var fileName = e.target.files[i].name;
          console.log(file, fileName)
          formData.append("file", file);
          formData.append("fileName", fileName);
        }
        console.log(formData)
        Request('post', 'http://localhost:3333/cgi/upload', formData)
      },false);
      // btn.onclick = function(){
      // }
      Request('post', 'http://localhost:3332/cgi/login', JSON.stringify({user: 'aa', password: '222'}))
      Request('post', 'http://localhost:3332/cgi/getTechnologyShare', JSON.stringify({user: 'aa', password: '222'}))
      Request('post', 'http://localhost:3332/cgi/addTechnologyShare', JSON.stringify({user: 'aa', password: '222'}))
    // })(window)

  </script>
  </body>
</html>